<div id="<%= dom_id invoice %>">
  <p>
    <strong>Customer name:</strong>
    <%= invoice.customer_name %>
  </p>

  <p>
    <strong>Customer contact:</strong>
    <%= invoice.customer_contact %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice.total %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= invoice.discount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

</div>
