<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="card-title text-center mb-4"><%= product.new_record? ? "Add Product" : "Edit Product" %></h4>
          
          <%= form_with(model: product, local: true, class: "needs-validation") do |form| %>
            <div class="mb-3">
              <%= form.label :name, class: "form-label" %>
              <%= form.text_field :name, class: "form-control", required: true %>
            </div>

            <div class="mb-3">
              <%= form.label :price, class: "form-label" %>
              <%= form.text_field :price, class: "form-control", required: true %>
            </div>

            <div class="mb-3">
              <%= form.label :quantity, class: "form-label" %>
              <%= form.number_field :quantity, class: "form-control", required: true, min: 1, step: 1%>
            </div>

            <div class="row mt-4">
              <div class="col-6">
                <%= link_to 'Back', products_path, class: "btn btn-secondary" %>
              </div>

              <div class="col-6 text-end">
                <%= form.submit 'Save', class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
